In [ ]:
) Print all elements of a list using for loop
2) A company decided to give bonus of 5% to employee if his/her year of service is more than 5
years. Ask user for their salary and year of service and print the net bonus amount.
3) Take input of age of 3 people by user and determine oldest and youngest among them.
4) A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
5) Ask user to enter marks and print the corresponding grade.
6) Write a Python script to merge two Python dictionaries
7) Write a python program to get the largest number from a list
8) Write a python program to remove a key from a dictionary

In [2]:
#1. Print all elements of a list using for loop
Primary_one=[6,8,10,12,1,5]
for items in Primary_one:
    print(items)

6
8
10
12
1
5

In [7]:
#2. A company decided to give bonus of 5% to employee if his/her year of service is more than 5
#years. Ask user for their salary and year of service and print the net bonus amount.

year_service= int(input("enter year of service"))
salary=float(input("enter your salary"))
if year_service > 5:
    net_bonus= salary*0.05
    print(net_bonus)
else:
    print(salary)

enter year of service2
enter your salary500000
500000.0

In [9]:
#3. Take input of age of 3 people by user and determine oldest and youngest among them.
age1=int(input("enter your age"))
age2=int(input("enter your age"))
age3=int(input("enter your age"))
list=[age1,age2,age3]
print("oldest is ", max(list))
print("youngest is ", min(list))

enter your age10
enter your age15
enter your age20
oldest is  20
youngest is  10

In [ ]:
#3. Take input of age of 3 people by user and determine oldest and youngest among them.
age1=int(input("enter your age person1: "))
age2=int(input("enter your age person2: "))
age3=int(input("enter your age person3: "))
print()
if (age1 > age2) & (age1>age3):
    print("person1 is the oldest")
    if age2 < age3:
        print("person3 is the youngest")
elif age2<age3:
        print("person2 is the youngest")
        else:
            print("print person3 is the youngest")

In [ ]:
#4. A school has following rules for grading system:
#a. Below 25 - F
#b. 25 to 45 - E
#c. 45 to 50 - D
#d. 50 to 60 - C
#e. 60 to 80 - B
#f. Above 80 - A
#Ask user to enter marks and print the corresponding grade.

grade_F=(<25)
grade_E=
grade_D
grade_

In [24]:
marks = int(input("enter your marks"))
if 25 < marks:
    print("F")
elif 25 < marks <=45:
    print("E")
elif 45 < marks <= 50:
    print("D")
elif 50 < marks <= 60:
    print("C")
elif 60 < marks <= 80:
    print("B")
elif marks > 80:
    print("A")

enter your marks100
F

In [22]:
marks=int(input("enter your marks"))
if marks < 25:
    print("F")
elif marks>=25 & marks<45:
    print("E")
elif marks >= 45 & marks<50:
    print("D")
elif marks >= 50 & marks<60:
    print("C")
elif marks >= 60 & marks<80:
    print("B")
else:
    print("A")

enter your marks100
E

In [26]:
marks=int(input("enter your marks: "))
if marks < 25:
    print("F")
elif 25 < marks <= 45:
    print("E")
elif 45 < marks <= 50:
    print("D")
elif 50 < marks <= 60:
    print("C")
elif 60 < marks <= 80:
    print("B")
elif marks > 80:
    print("A")

enter your marks: 15
F

In [33]:
#Write a Python script to merge two Python dictionaries
nursery_one={"seth": 5, "joy": 8, "ife": 3}
nursery_two={"tom": 11, "lin": 15}
nursery= nursery_one.copy()
nursery.update(nursery_two)
print(nursery)

{'seth': 5, 'joy': 8, 'ife': 3, 'tom': 11, 'lin': 15}

In [35]:
nursery_one={"seth": 5, "joy": 8, "ife": 3}
nursery_two={"tom": 11, "lin": 15}
nursery_one.update(nursery_two)
print(nursery_one)

{'seth': 5, 'joy': 8, 'ife': 3, 'tom': 11, 'lin': 15}

In [38]:
#Write a python program to get the largest number from a list
largest = 0
for value in [32, 74, 5, 9, 28, 100, 2, 9]:
    if value > largest:
        largest=value
    print(largest)

32
74
74
74
74
100
100
100

In [41]:
def largest_num (list):
    max = list[0]
    for a in list:
        if a > max:
            max = a
    return max
print(largest_num([32, 74, 5, 9, 28, 100, 9]))

100

In [42]:
#Write a python program to remove a key from a dictionary
clas={'seth': 5, 'joy': 8, 'ife': 3, 'nax': 19, 'tom': 11, 'lin': 15}
print(clas)
if 'nax' in clas:
    del clas ['nax']
print(clas)

{'seth': 5, 'joy': 8, 'ife': 3, 'nax': 19, 'tom': 11, 'lin': 15}
{'seth': 5, 'joy': 8, 'ife': 3, 'tom': 11, 'lin': 15}